<% layout('/layouts/boilerplate') %>
<body>
    <h1>NEW LISTING</h1>
    <form method="POST" action="/listings">
        <input name="title" placeholder="Enter Title" type="text"><br>
        <textarea name="description" placeholder="Enter Description"></textarea><br>
        <input name="image" placeholder="Enter Image URL" type="text"><br>
        <input name="price" placeholder="Enter Price" type="number"><br>
        <input name="country" placeholder="Enter Country" type="text"><br>
        <input name="location" placeholder="Enter Location" type="text"><br>
        <button>Submit</button>
    </form>
</body>