<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mx-auto error-div">
        <div class="card error-card" style="width: 18rem">
            <div class="card-body">
                <h1 class="card-title error-code"><b><%=statusCode%></b></h1>
                <h3 class="card-subtitle mb-2 text-body-secondary">ERROR</h3>
                <p class="card-text"><%=message%></p>
                <a href="/listings" class="btn btn-dark add-btn">Go Back</a>
            </div>
        </div>
    </div>
</body>