body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
    max-width: 1800px !important;
}

.row{
    display: flex;
    justify-content: center;
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color: #ffffff;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* Footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links{
    width:100%;
}

.f-info-socials{
    font-size: 1.5rem;
    width:100%;
}

.f-info-socials i{
    margin:0.2rem;
}

.f-info{
    text-align: center;
    height:8rem;
    background-color: #ebebeb;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Card */
.card{
    margin: 1rem;
    border: none !important;
    width: 26rem !important;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important; 
    height: 20rem !important;
}

.listing-link{
    text-decoration: none !important;
    color: inherit !important;
}

.card-img-overlay{
    opacity:0;
}

.card-img-overlay:hover{
    opacity:0.1;
    background-color: white;
}

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Error Page */
.error-div{
    height:45rem;
    display:flex !important;
    align-items: center !important;
}

.error-code{
    font-size: 8rem !important;
    color: #fe424d !important;
}

.error-card{
    text-align: center;
}