<% layout('/layouts/boilerplate') %>
<body>
    <br />
    <h1>LOGIN</h1>
    <form method="POST" action="/user/login" class="needs-validation" novalidate>
        <div class="col col-8 offset-2">
            <div>
                <label for="username" class="form-label">Username</label>
                <input name="username" placeholder="Enter Username" type="text" class="form-control" required>
                <div class="invalid-feedback">Invalid Username</div><br>
            </div>
            <div>
                <label for="password" class="form-label">Password</label>
                <input name="password" placeholder="Enter Password" type="password" class="form-control" required>
                <div class="invalid-feedback">Invalid Password</div><br>
            </div>
            <button class="btn btn-dark add-btn mb-2">Submit</button>
        </div>
    </form>
</body>